//breadcrumb
.breadcrumb-container {
    color: #333645;
    font-size: 0.8125rem;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
    padding: 14px 15px 13px;
}

.container > ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.breadcrumb {
    font-size: .8125rem;
}
.breadcrumb li:last-child::before {
    content: "/ ";
    padding: 0 5px;
    color: #333645;
}
.breadcrumb a {
    font-weight: 700;
    color: #333645;
}
//Offices

.block {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.location-image img{
    height: 100%;
    width: 100%;
}
.img-office {
    vertical-align: middle;
}
.location-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: left;
}
.location-content .h2 {
    font-size: 1.25rem;
    text-align: left;
}
.location-content .p {
    font-size: .8125rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.location-content p {
    padding: 0;
    margin: 0 0 15px;
}
.h2 a {
    text-decoration: none;
    color: #333645;
}
.tel a {
    font-weight: 700;
}
.text-web {
    color: #926fb1 !important;
}

.img-office-location {
    overflow: hidden;
    height: 100%;
    width: 100%;
    -o-object-fit: none;
    object-fit: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map{
    height: 250px !important;
}
//Contact info
.section {
    padding-bottom: 50px;
}
.drop-down-button {
    font-weight: 600;
    color: #333645;
    line-height: 1.875rem;
    margin-bottom: 25px;
}

.drop-down {
    overflow: hidden;
    margin-bottom: 25px;
}
.drop-down-content-show {
    display: block;
}
.drop-down-content-hidden {
    display: none;
}
// Contact form
@media (min-width: 1260px){
.contact-form {
    padding-right: 15px;
    width: 66.66666667%;
}
}
@media (min-width: 990px){
.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (min-width: 990px){
.contact-form form .grid-2 .form-group:last-child {
    padding-left: 15px;
}
}
@media (min-width: 990px){
.contact-form form .grid-2 .form-group:first-child {
    padding-right: 15px;
}
}
.contact-form form {
    background-color: #dddddd;
    padding: 30px;
    border-radius: 10px;
}
.contact-form form .grid-2 {
    gap: 0;
}

.grid-4:first-child, .grid-3:first-child, .grid-2:first-child {
    padding-bottom: 15px;
}
.contact-content {
    display: block;
}
.grid-4, .grid-3, .grid-2 {
    display: grid;
    gap: 30px;
    align-items: stretch;
}
.form .form-group {
    margin-bottom: 15px;
    line-height: 2;
    text-align: left;
}
.form .form-group label {
    font-weight: 600;
    color: #272936;
}
.form .form-group .required::after {
    content: " *";
    color: #d64541;
}
.form .form-group input {
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: #ccc;
}
.contact-form form input {
    color: #888;
    font-size: 14px;
}
.contact-form form textarea {
    width: 100%;
    height: 100px;
    padding: 5px 15px;
    color: #888;
    opacity: 1;
    font-size: 14px;
    border: solid 1px #ccc;
}
.form .form-checkbox .form-checkbox-input {
    display: none;
}
.form .form-checkbox .form-checkbox-label {
    display: flex;
    cursor: pointer;
}
.form .form-checkbox .form-checkbox-label .media-left {
    display: table-cell;
    vertical-align: top;
}
    .form .form-checkbox .form-checkbox-input:checked + .form-checkbox-label .form-checkbox-button {
        background-color: #333645;
    }
    .form .form-checkbox .form-checkbox-label .form-checkbox-button {
        border-radius: 3px;
        border: 3px solid #333645;
        height: 32px;
        width: 32px;
        position: relative;
        float: left;
        margin-right: 20px;
    }
    .contact-form form .recaptcha {
        font-size: 11px;
        font-weight: 600;
        line-height: 1.42857143;
        color: #333645;
    }
    .contact-form form .recaptcha a {
        color: #333645;
        text-decoration: underline;
    }
    .contact-form form .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-form {
    @include btn-format($tuna)
}
.btn-form:hover {
  @include btn-format($footer)
  } 
    .contact-form form .group .required-notice {
        color: #333645;
        font-size: 14px;
    }
    .contact-form form .group .required-notice span {
        color: #d64541;
    }
    .form .form-checkbox .form-checkbox-label-text a {
        color: #121318;
        text-decoration: underline;
    }
    .form .form-checkbox .form-checkbox-label .form-checkbox-button .form-checkbox-icon {
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        font-size: 22px;
        color: #fff;
        display: block;
    }
    .form .form-checkbox .form-checkbox-input:checked + .form-checkbox-label .form-checkbox-icon::before {
        font-family: "icomoon";
        content: "\ea10";
    }
    //messages
    .alert-error{
        display: flex;
        justify-content: space-between;
        background-color: #f2dede;
        color: #a94442;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #ebccd1;
        border-radius: 2px;
    }
    .alert-success{
        display: flex;
        justify-content: space-between;
        background-color: #ddffdd;
        color: #00b67b;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #9ae9b2;
        border-radius: 2px;
}
.close-btn{
    
    position: relative;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
